
    body {
      font-family: "Open Sans", sans-serif;
      color: #272829;
      overflow-x: hidden;
    }

    a {
      text-decoration: none;
      color: #149ddd;
    }

    a:hover {
      color: #37b3ed;
    }

    
    #header {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 300px;
      transition: all ease-in-out 0.5s;
      z-index: 9997;
      background: #040b14;
      padding: 0 15px;
      overflow-y: auto;
    }
    
    
    #header .profile img {
      margin: 15px auto;
      display: block;
      width: 120px;
      height: 120px;
      border: 8px solid #2c2f3f;
    }

    #header .profile h1 {
      font-size: 24px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      text-align: center;
      font-family: "Poppins", sans-serif;
    }

    #header .profile h1 a {
      color: #fff;
    }

    
    #header .profile .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #212431;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }

    #header .profile .social-links a:hover {
      background: #149ddd;
      color: #fff;
    }

    
    .nav-menu {
      padding: 30px 0 0 0;
    }

    .nav-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav-menu li {
      position: relative;
      white-space: nowrap;
    }

    .nav-menu a, .nav-menu a:focus {
      display: flex;
      align-items: center;
      color: #a8a9b4;
      padding: 12px 15px;
      margin-bottom: 8px;
      transition: 0.3s;
      font-size: 15px;
    }

    .nav-menu a i, .nav-menu a:focus i {
      font-size: 24px;
      padding-right: 8px;
      color: #6f7180;
    }

    .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
      text-decoration: none;
      color: #fff;
    }

    .nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
      color: #149ddd;
    }

    
    #hero {
      width: 100%;
      height: 100vh;
      
      background: url("image/hero.jpeg") top center;
      background-size: cover;
      position: relative;
    }

    
    #hero:before {
      content: "";
      background: rgba(5, 13, 24, 0.3);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    #hero .hero-container {
      position: relative;
      z-index: 2;
      min-width: 300px;
      padding-left: 350px; 
    }

    #hero h1 {
      margin: 0 0 10px 0;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      color: #fff;
    }

    #hero p {
      color: #fff;
      margin-bottom: 50px;
      font-size: 26px;
      font-family: "Poppins", sans-serif;
    }

    #hero p span {
      color: #fff;
      padding-bottom: 4px;
      letter-spacing: 1px;
      border-bottom: 3px solid #149ddd;
    }

    
    .typed-cursor::after {
      content: '|';
      animation: blink 1s step-start infinite;
    }

    @keyframes blink {
      50% { opacity: 0; }
    }

    
    @media (max-width: 1199px) {
      #header {
        left: -300px;
      }
      #hero .hero-container {
        padding-left: 30px; 
      }
    }
    
    #main {
      margin-left: 300px;
      padding: 60px 0; 
    }
    .row img{
      height: 400px;
    }

    
    
    .section-title h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #173b6c;
    }
    
    
    .section-title h2::after {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #149ddd;
      bottom: 0;
      left: 0;
    }

    .about .content h3 {
      font-weight: 700;
      font-size: 26px;
      color: #173b6c;
    }

    .about .content ul {
      list-style: none;
      padding: 0;
    }

    .about .content ul li {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    
    .about .content ul strong {
      margin-right: 10px;
    }

    .about .content ul i {
      font-size: 16px;
      margin-right: 5px;
      color: #149ddd;
      line-height: 0;
    }

    
    @media (max-width: 1199px) {
      #header { left: -300px; }
      #main { margin-left: 0; padding: 15px; }
    }
    .stats{
      text-align: center;
      padding: 100px;
    }
    .stats-item i{
      font-size: 46px;
      color: #37b3ed;
    }
    .stats-no {
      font-size: 46px;
      font-weight: 600;
    }

    .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    }

    .skills {
      background-color: #f4fafd;
      height: 450px;
      margin-top: -40px;
      padding-top: 55px;
    }

  .skills .progress {
      height: 60px;
      display: block;
      background: none;
      border-radius: 0;
  }

 .skills .progress .skill {
     padding: 0;
     margin: 0 0 6px 0;
     text-transform: uppercase;
     display: block;
     font-weight: 600;
    font-family: var(--font-headers);
    color: #050d18;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
}

.skills .progress-bar {
    height: 10px;
    transition: .9s;
    background-color: #37b3ed;
}
.content{
    flex:1;
    background:#fff;
    padding:40px;
}

/* .line{
    width:50px;
    height:3px;
    background:#00b4ff;
    margin:10px 0 20px;
} */
.desc{
    color:#555;
    line-height:1.7;
    margin-bottom:40px;
}

/* ===== RESUME GRID ===== */
.resume-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

/* ===== TIMELINE ===== */
.timeline{
    position:relative;
    padding-left:30px;
}
.timeline::before{
    content:'';
    position:absolute;
    left:6px;
    top:0;
    width:2px;
    height:100%;
    background:#00b4ff;
}
.item{
    position:relative;
    margin-bottom:30px;
}
.item::before{
    content:'';
    position:absolute;
    left:-30px;
    top:5px;
    width:14px;
    height:14px;
    background:#fff;
    border:3px solid #00b4ff;
    border-radius:50%;
}
.item h4{
    font-size:15px;
    font-weight:600;
}
.item span{
    font-size:13px;
    color:#00b4ff;
}
.item p{
    font-size:14px;
    color:#555;
    margin-top:5px;
    line-height:1.6;
}
.item ul{
    margin-top:8px;
    padding-left:18px;
}
.item ul li{
    font-size:14px;
    color:#555;
    margin-bottom:6px;
}

.Portfolio{
  margin-top: 80px;
  background-color: #f4fafd;
  height: 1050px;
  
  padding-top: 55px;
}

.filters{
    text-align:center;
    margin-bottom:30px;
}

.filters a{
    margin:0 15px;
    text-decoration:none;
    color:#666;
    font-weight:500;
}

.filters a.active{
    color:#4fc3f7;
}

/* Portfolio Grid */
.portfolio-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:25px;
}

.card{
    position:relative;
    overflow:hidden;
    border-radius:12px;
    background:#fff;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

/* Overlay */
.overlay{
    position:absolute;
    inset:0;
    background:rgba(11,19,32,.85);
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    opacity:0;
    transition:.3s;
}

.card:hover .overlay{
    opacity:1;
}

.tag{
    background:#4fc3f7;
    color:#000;
    padding:4px 10px;
    border-radius:4px;
    font-size:12px;
    margin-bottom:10px;
}

.overlay p{
    font-size:14px;
    margin-bottom:12px;
}

.icons{
    display:flex;
    gap:12px;
}

.icons span{
    width:36px;
    height:36px;
    border:1px solid #fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

/* Responsive */
@media(max-width:900px){
    .sidebar{
        position:relative;
        width:100%;
        min-height:auto;
    }
    .main{
        margin-left:0;
    }
}